@import 'partials/reset.scss';
@import url(https://fonts.googleapis.com/css?family=Raleway);

$color1: hsl(216,94%,25%);
$color2: hsl(214,93%,34%);
$color3: hsl(204,99%,56%);
$color4: hsl(200,100%,78%);
$color5: hsl(216,100%,95%);
$background: hsla(216,100%,15%,0.5);


#middle {
  background: RGBA(23, 29, 50, 0.50);
  height: 275px;
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  flex-wrap: wrap;
  text-align: center;
  z-index: 3;
  position: absolute;

  h1{
    color: $color5;
    font-size: 10vw;
    font-style: italic;
    width: 100%;
    margin-top: 3%;
    font-weight: bold;
  }

  p{
    font-size: 4vw;
    color: $color5;
    margin-left: 7%;
    margin-right: 5%;


  }

  a{
    text-decoration: none;
  }
}

html {
  background: url(cityscape.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  // position: fixed;
}


 #articlesImageDiv {
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: -967px;

}
#right{
  background-color: red;
  width: 33%;
  height: 27%;
  margin-left: 52%;
  position: absolute;
  z-index: 4;
  opacity: 0.0;
}

#articlesImg{
width: 110%;
height: 110%;
margin-top: -10%;
  opacity: 0.0;
  position: absolute;
      transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#rightLink:hover ~ #articlesImg{
    opacity: 1.0;
    transition: opacity .85s ease-in-out;
    -moz-transition: opacity .85s ease-in-out;
    -webkit-transition: opacity .85s ease-in-out;
}


#productImageDiv {
    width: 100%;
    height: 1000px;
    z-index: 2;

}

#left{
  background-color: blue;
  width: 37%;
  height: 27%;
  margin-left: 15%;
  margin-top: 2%;
  position: absolute;
  z-index: 4;
  opacity: 0.0;
}

#productImg{
  opacity: 0.0;
  height: 105%;
  width: 101%;
  position: absolute;
      transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    height: 100%;
    width: 100%;
}

#leftLink:hover ~ #productImg{
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}


#loginContainer {
  background-color: black;
  opacity: 0.9;
  width: 70%;
  margin-left: 16%;
  margin-top: 2%;
  border-radius: 15px;
}

#formContainer {
  color: white;
  margin-left: 40%;
  padding: 3%;

  input {
    padding: 1%;
    align: right;
  }
}
