doctype html

block title
  title
    |New Product

block content

  button
    a(href= '/products' style= 'text-decoration: none') Back
sa
  form(action='/products' method='POST')
    p Name
    input(name='name')
    p Price
    input(name='price')
    p Inventory
    input(name='inventory')
    button Submit







