doctype html

head
  block title
    title
      |New Product
    style
      include ../public/css/styles.css

body
  block content

    button
      a(href= '/products' style= 'text-decoration: none') Back
  sa
    form(action='/products' method='POST')
      p Name
      input(name='name')
      p Price
      input(name='price')
      p Inventory
      input(name='inventory')
      button Submit







