doctype html
head
  block title
    title
      |Sign Up
  link(rel= "stylesheet", href= "./css/styles.css")
body
  block content
    div(id= 'loginContainer')
      div(id= 'formContainer')
        form(method='POST' action='/signUp')
          p Desired Username:
            input(name= 'username')
          p  Desired  Password:
            input(type= 'password' name= 'password')
          button Sign Up