/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#middle {
  background: RGBA(23, 29, 50, 0.5);
  height: 275px;
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  flex-wrap: wrap;
  text-align: center;
  z-index: 3;
  position: absolute; }
  #middle h1 {
    color: #e6f0ff;
    font-size: 10vw;
    font-style: italic;
    width: 100%;
    margin-top: 3%;
    font-weight: bold; }
  #middle p {
    font-size: 4vw;
    color: #e6f0ff;
    margin-left: 7%;
    margin-right: 5%; }
  #middle a {
    text-decoration: none; }

html {
  background: url(cityscape.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif; }

#articlesImageDiv {
  opacity: 0.0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  width: 100%;
  height: 1000px;
  image: url("http://i.imgur.com/62XP5DK.jpg");
  position: relative;
  z-index: -1; }

#articlesImageDiv:hover {
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out; }

#right {
  background-color: red; }
