doctype html

block title
  title
    |Edit Product

block content

  if(product)
      p= product.name
      input(name='name')
      p= product.price
      input(name='price')
      p= product.inventory
      input(name='inventory')
      button Submit