doctype html

block title
  title
    |Products

block content

  if(products)
    mixin createProduct(product)
      h1= product.name
      h2= product.price
      h2= product.inventory
      h3= product.id

    each product in products
      +createProduct(product)