doctype html

block title
  title
    |New Article

block content

    form(action='/articles' method='POST')
      p Title
      input(name='title')
      p Body
      input(name='body')
      p Author
      input(name='author')
      button Submit