doctype html

block title
  title
    |New Article

block content

    form(action='/articles' method='POST')
      p Title
      input(name='name')
      p Body
      input(name='price')
      p Author
      input(name='inventory')
      button Submit